# .gitignore

# Node modules
node_modules/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files (contoh: VS Code)
.vscode/

# Compiled JavaScript (if you transpile)
dist/
build/

# Database specific files
*.sqlite
*.db